<!-- dialog title -->
<div mat-dialog-title>
	<div class="summary-title">Summary</div>
</div>
<!-- dialog content -->
<mat-dialog-content>
  <mat-divider class="divider"></mat-divider>
	<div class="summary-container">
		<div class="item">
			<span class="title">Name: </span><span class="value">{{ tableData.name }}</span>
		</div>

		<div class="item">
			<span class="title">Amount: </span> <span class="value">{{ tableData.amount || 0 | currency }}</span>
		</div>

		<div class="item">
			<span class="title">Expense Date: </span>
			<span class="value">{{ tableData.expense_date | date }}</span>
		</div>

		<div class="item">
			<span class="title">Expense Category: </span>
			<span class="value">{{ tableData.expense_category }}</span>
		</div>
		<div class="item">
			<span class="title">Payment Type: </span>
			<span class="value">{{ tableData.payment }}</span>
		</div>
		<mat-divider></mat-divider>
		<div class="item">
			<span class="title">Comment: </span>
			<span class="value">{{ tableData.comment }}</span>
		</div>
	</div>
</mat-dialog-content>
