<div>
  <mat-card class="example-card">
    <mat-card-header class="example-header">
      <mat-card-title
        >User Information <mat-icon>verified_user</mat-icon></mat-card-title
      >
      <button mat-raised-button color="primary" (click)="editField()" [disabled]="!editable"><mat-icon>edit</mat-icon>Edit</button>
    </mat-card-header>
    <mat-progress-bar *ngIf="isProcess" mode="indeterminate"></mat-progress-bar>
    <mat-card-content *ngIf="!isProcess">
      <div class="liner"><p></p></div>
      <div class="profile-container">
        <div class="main">
          <img
            src="../../../assets/image/man.png"
            alt="man image"
            height="120px"
            width="120px"
          />
          <span>@{{userInfo.username}}</span>
        </div>

          <div class="view-profile">
            <div class="profile-row">
              <div class="title-member">
                 <span class="span"> Personal Info </span>
              </div>
              <mat-card class="content">
                  <div class="group-item">
                      <div class="item-g">
                          <p class="title-info">Name</p>
                          <p class="info" *ngIf="!isEdit">{{userInfo.name}}</p>
                          <input *ngIf="isEdit" type="text" [value]="name" [(ngModel)]="newName" width="50%">
                      </div>
                      <div class="item-g">
                          <p class="title-info">Username</p>
                          <p class="info">{{userInfo.username}}</p>

                      </div>
                  </div>
                  <div class="group-item">
                      <div class="item-g">
                          <p class="title-info">Email</p>
                          <p class="info" *ngIf="!isEdit">{{userInfo.gmail}}</p>
                          <input *ngIf="isEdit" type="text" [value]="gmail" [(ngModel)]="newGmail" width="50%">
                      </div>
                      <div class="item-g">
                          <p class="title-info">Expense log</p>
                          <p class="info">{{userInfo.expenseLogged}}</p>
                      </div>
                      <mat-divider></mat-divider>
                  </div>
              </mat-card>
            </div>
            <mat-divider style="margin-bottom: 20px;"></mat-divider>
            <div class="profile-row">
              <div class="title-member">
                 <span class="span"> Logged in Info </span>
              </div>
              <mat-card class="content">
                  <div class="group-item">
                      <div class="item-g">
                          <p class="title-info">First logged in</p>
                          <p class="info">{{userInfo.firstLoginDate | date: 'MMM d, y, h:mm a'}}</p>
                      </div>
                      <div class="item-g">
                          <p class="title-info">Last logged in</p>
                          <p class="info">{{userInfo.lastLoginDate | date: 'MMM d, y, h:mm a'}}</p>
                      </div>
                  </div>
              </mat-card>
            </div>
          </div>
      </div>
    </mat-card-content>
    <div style="display:flex; flex-direction: row; justify-content: space-between;">
      <mat-card-actions *ngIf="!isEdit">
        <button mat-raised-button mat-dialog-close color="primary" (click)="onDeleteAccount()" >Delete Account</button>
        <!-- <button mat-raised-button mat-dialog-close cdkFocusInitial color="primary">Ok</button> -->
      </mat-card-actions>
    <mat-card-actions *ngIf="!isEdit">
      <!-- <button mat-raised-button mat-dialog-close color="primary">Delete Account</button> -->
      <button mat-raised-button mat-dialog-close cdkFocusInitial color="primary">Ok</button>
    </mat-card-actions>
    </div>
    <mat-card-actions align="end" *ngIf="isEdit">
      <button mat-raised-button mat-dialog-close cdkFocusInitial color="primary" (click)="saveData()" >Save</button>
    </mat-card-actions>
  </mat-card>
</div>
